# SERVER
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

# DATABASE
DATABASE_URL=
NEON_LOCAL=false

# Neon Local Configuration (development only)
NEON_API_KEY=
NEON_PROJECT_ID=
PARENT_BRANCH_ID=

# AUTH
JWT_SECRET=


# Arcjet
ARCJET_KEY=
ARCJET_ENV=development